

@font-face {
  font-family: 'SegoeUI-Light';
  src: url('../font/SegoeUI-Light.eot');
  src: local('../font/Segoe UI Light'), local('SegoeUI-Light'),
  url('../font/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/SegoeUI-Light.woff') format('woff'),
  url('../font/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Regular';
  src: url('../font/SegoeUI.eot');
  src: local('../font/Segoe UI'), local('SegoeUI'),
  url('../font/SegoeUI.eot?#iefix') format('embedded-opentype'),
  url('../font/SegoeUI.woff') format('woff'),
  url('../font/SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-SemiBold';
  src: url('../font/SegoeUI-SemiBold.eot');
  src: local('../font/Segoe UI Semibold'), local('SegoeUI-SemiBold'),
  url('../font/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../font/SegoeUI-SemiBold.woff') format('woff'),
  url('../font/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Bold';
  src: url('../font/SegoeUI-Bold.eot');
  src: local('../font/Segoe UI Bold'), local('SegoeUI-Bold'),
  url('../font/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/SegoeUI-Bold.woff') format('woff'),
  url('../font/SegoeUI-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// Whitney +



@font-face {
  font-family: 'Whitney-Light';
  src: url('../font/Whitney-Light.eot');
  src: local('../font/Whitney Light Regular'), local('Whitney-Light'),
  url('../font/Whitney-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/Whitney-Light.woff') format('woff'),
  url('../font/Whitney-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney-Regular';
  src: url('../font/Whitney-Book.eot');
  src: local('../font/Whitney Book Regular'), local('Whitney-Book'),
  url('../font/Whitney-Book.eot?#iefix') format('embedded-opentype'),
  url('../font/Whitney-Book.woff') format('woff'),
  url('../font/Whitney-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney-Medium';
  src: url('../font/Whitney-Medium.eot');
  src: local('../font/Whitney Medium Regular'), local('Whitney-Medium'),
  url('../font/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/Whitney-Medium.woff') format('woff'),
  url('../font/Whitney-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney-Semibold';
  src: url('../font/Whitney-Semibold.eot');
  src: local('../font/Whitney Semibold Regular'), local('Whitney-Semibold'),
  url('../font/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../font/Whitney-Semibold.woff') format('woff'),
  url('../font/Whitney-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney-Bold';
  src: url('../font/Whitney-Bold.eot');
  src: local('../font/Whitney Bold Regular'), local('Whitney-Bold'),
  url('../font/Whitney-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/Whitney-Bold.woff') format('woff'),
  url('../font/Whitney-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



