
@media screen and (max-width: 1300px) {
  .btn {
    padding: 10px;
  }
  .menu-mobile {
    width: calc(100% - 265px);
  }
  .menu-header {
    &__link {
      margin-right: 20px;
    }
  }

  // order-section
  .wrap-order-inf {
    max-width: 800px;
  }
  .card {
    &__btn {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .wrap-order-inf {
    max-width: 100%;
    margin-top: 20px;
  }
  .order-status {
    height: 310px;
    padding: 20px;
  }
  .container {
    padding: 0 20px;
  }

  .mob-image {
    &__two {
      left: 23%;
    }
    &__three {
      left: 33%;
    }
    &__four {
      left: 10%
    }
    &__five {
      right: 0;
      img {
        left: 10%
      }
    }
    &__six {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .mob-none {
    display: none;
  }
  .menu-mobile {
    position: fixed;
    left: -100%;
    top: 0;
    width: 290px;
    height: 100vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all .3s ease 0s;
    background-color: #ffffff;
    z-index: 100;
    padding: 10px;
    &.open {
      left: 0;
      padding: 100px 10px 10px;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  .header {
    &__top {
      background-color: transparent;
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
      .container {
        padding: 0;
      }
    }

  }
  header {
    .mail {
      padding: 10px 0;
      font-size: 18px;
      color: #000000;
    }
  }
  .user-door {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .ic-user {
    top: 0;
  }
  .menu-header {
    flex-direction: column;
    &__link {
      margin-right: 0;
      font-size: 18px;
      padding: 10px 0;
      display: inline-block;
      color: #000000;
    }
  }
  .menu-mobile-button {
    background-color: #ECF5F8;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 3px 22px;
    position: relative;
    text-decoration: none;
    margin-left: 10px;
    color: #1A1A1A;
    font-size: 14px;
    font-weight: 500;
    &.active {
      .hamburger-mob {
        transform: rotate(135deg);
        transition: all .3s ease 0s;
        &__line-top {
          transform: rotate(90deg);
          margin: auto;
          bottom: 0;
        }
        &__line-center {
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &__line-bottom {
          opacity: 0;
        }
      }
    }
  }

  .hamburger-mob {
    position: relative;
    height: 18px;
    width: 22px;
    margin-right: 10px;
    transition: all .1s ease 0s;
    &__line-top, &__line-center, &__line-bottom {
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      background-color: #1A1A1A;
      border-radius: 22px;
    }
    &__line-top {
      top: 0;
    }
    &__line-center {
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &__line-bottom {
      bottom: 0;
    }
  }

  .header {
    &__bottom {
      padding-top: 10px;
    }
    &__top {
      .header__flex {
        flex-direction: column;
      }
    }
  }
  .logo {
    margin-right: auto;
  }
  .wrap-catalog-search {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }
  header {
    .vcard {
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  .catalog-menu {
    order: 2;
    &__button {
      width: 100%;
      border-radius: 0;
      &.open {
        +.catalog-menu__dropdown {
          z-index: 10;
          width: 100%;
        }
      }
    }
  }
  .search {
    margin-bottom: 20px;
    &__inp {
      border-radius: 0;
      border-left: 1px solid #B7B7B7;
      height: 40px;
      padding-left: 10px;
    }
  }

  .form-mob-text {
    max-width: 400px;
    width: 100%;
  }
  .mob-section {
    &__inf {
      width: 70%;
    }
  }


}

@media screen and (max-width: 768px) {
  .banner-slider {
    width: 100%;
    margin-bottom: 15px;
  }
  .order-status {
    height: 185px;
    padding: 20px;
    width: calc((100% - 40px) / 2);
    margin: 0 10px 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
  .wap-order-status {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .wrap-order-inf {
    display: contents;
  }

  .order-inf {
    width: calc((100% - 40px) / 2);
    margin: 0 10px 20px;
    max-width: none;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 22px 10px;
  }
  .mob-section {
    padding-top: 45px;
    padding-bottom: 0;
    &__inf {
      width: 100%;
      margin-bottom: 80px;
    }
    &__text {
      max-width: 100%;
    }
  }
  .form-mob {
    .form-group {
      max-width: none;
      width: calc(100% - 154px);
    }
  }
  .mob-image {
    width: calc(100% + 40px);
    height: auto;
    position: relative;
    right: 0;
    bottom: 0;
    padding-top: 80%;
    margin: 0 -20px;

    &__one {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__two, &__three, &__four, &__five, &__six {
      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
      }
    }
    &__two {
      top: 0;
      left: 17%;
      width: 17%;
      padding-top: 20%;
    }
    &__three {
      bottom: 30%;
      left: 20%;
      width: 19%;
      padding-top: 18%;
    }
    &__four {
      bottom: -37px;
      left: 5%;
      z-index: 6;
      width: 26%;
      padding-top: 25%;
    }
    &__five {
      top: -52px;
      right: 26%;
      z-index: 2;
      width: 29%;
      padding-top: 26%;
    }
    &__six {
      display: block;
      width: 50%;
      padding-top: 42%;
      img {
        object-position: 80px;
      }
    }
  }
  .discounts {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 575px) {
  h2 {
    font-size: 24px;
  }
  h5 {
    font-size: 16px;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    &__img {
      position: relative;
      padding-top: 0;
      width: 45%;
      display: block;
      margin-bottom: 0;
    }
    &__body {
      padding: 20px;
      width: 55%;
    }
  }
  .header {
    &__bottom {
      padding: 0;
    }
  }
  .cart {
    height: 80px;
    border-radius: 0;
    flex-direction: column;
    justify-content: center;
    &__ic {
      margin-right: 0;
    }
  }
  .menu-mobile-button {
    height: 80px;
    border-radius: 0;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    .hamburger-mob {
      margin-bottom: 8px;
      margin-right: 0;
    }

  }
  .container {
    padding: 0 20px;
  }

  .discounts h2 {
    padding-right: 110px;
    padding-left: 34px;
    &::before {
      width: 20px;
    }
  }
  .banner-card h2 {
    font-size: 36px
  }

  .discounts-slider.owl-carousel .owl-nav button.owl-next, .discounts-slider.owl-carousel .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }
  .discounts-slider .owl-nav {
    top: -85px;
  }

  .fz48 {
    font-size: 36px;
  }
  .mob-section {
    &__subtitle {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 480px) {
  .card  {
    h5 {
      height: auto;
    }
  }
  .menu-mobile-button, .cart, .logo {
    z-index: 102;
  }
  .menu-mobile {
    transition: 0s;
    &.open {
      width: 100%;
    }
  }


  .order-status {
    width: 100%;
    margin: 0 0 30px;
  }
  .order-inf {
    width: 100%;
    margin: 0 0 20px;
  }
  .wap-order-status {
    margin: 0;
  }
  .banner-slider {
    margin-bottom: 30px;
  }
  .banner-card {
    padding: 15px 20px 40px;
    height: 187px;
    &__body {
      max-width: 210px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      line-height: 120%;
    }
    &__text {
      margin-bottom: 10px;
    }
  }
  .banner-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  .mob-section {
    padding-top: 40px;
  }
}

@media screen and (max-width: 460px) {
  .card {
    &__img {
      padding-top: 50%;
      width: 100%;
      margin-bottom: 20px;
    }
    &__body {
      padding-top: 0;
      width: 100%;
    }
  }

  .order-status {
    width: 100%;
    margin: 0 0 20px;
  }
  .order-inf {
    width: 100%;
    margin: 0 0 15px;
  }
  .banner-slider {
    margin-bottom: 20px;
  }
  .discounts-slider .owl-nav {
    top: 0;
    position: relative;
    justify-content: center;
    padding-right: 20px;
    margin-top: 30px;
  }

  .discounts h2 {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    margin-bottom: 40px;
    &:before {
      width: 50px;
      bottom: -9px;
      top: auto;
      right: 0;
    }
  }
  .mob-section {
    padding-top: 30px;
    &__inf {
      h2 {
        text-align: center;
      }
    }
    &__text {
      text-align: center;
      margin-bottom: 25px;
    }
    &__subtitle {
      text-align: center;
      margin-bottom: 12px;
    }
  }
  .mob-image {
    &__four {
      bottom: -9%;
    }
  }
  .store-box {
    text-align: center;
    margin-bottom: 0;
    &__brand {
      margin-right: 0;
    }
  }
  .form-mob {
    .btn {
      width: 100%;
    }
    .form-group {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .form-mob-text {
    text-align: center;
  }
  .discounts {
    padding-bottom: 50px;
  }
}