
@media screen and (max-width: 1300px) {
  .btn {
    padding: 10px;
  }
  .menu-mobile {
    width: calc(100% - 265px);
  }
  .menu-header {
    &__link {
      margin-right: 20px;
    }
  }

  // order-section
  .wrap-order-inf {
    max-width: 800px;
  }
  .card {
    &__btn {
      font-size: 14px;
    }
  }

  .catalogGo {
    &__one {
      left: 0;
    }
    &__two {
      left: 0;
    }
    &__three {
      right: 0;
    }
    &__four {
      right: 0;
    }
  }
  .ask-question {
    &__img  {
      bottom: -33px;
      img {
        bottom: -35px;
        object-position: -115px;
      }
    }
  }

  .category {
    &__card  {
      .card {
        width: calc((100% - 40px) / 3);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .wrap-order-inf {
    max-width: 100%;
    margin-top: 20px;
  }
  .order-status {
    height: 310px;
    padding: 20px;
  }
  .container {
    padding: 0 20px;
  }

  .mob-image {
    &__two {
      left: 23%;
    }
    &__three {
      left: 33%;
    }
    &__four {
      left: 10%
    }
    &__five {
      right: 0;
      img {
        left: 10%
      }
    }
    &__six {
      display: none;
    }
  }
  .catalogGo {
    &__one {
      left: 0;
      img {
        object-position: -95px;
      }
    }
    &__two {
      left: 0;
      img {
        object-position: -74px;
      }
    }
    &__three {
      right: 0;
      img {
        object-position: 35px;
      }
    }
    &__four {
      right: 0;
      img {
        object-position: 220px;
      }
    }
    &__five {
      img {

      }
    }
  }

  .card-advantages {
    padding: 22px 15px 27px;
    &:nth-child(odd) {
      background: transparent;
    }
  }
  .advantages-section {
    padding: 116px 0 100px;
  }
  .instagram-slider {
    &.owl-carousel {
      .owl-item {
        margin-top: 0;
        &:nth-child(odd) {
          margin-bottom: 0;
        }
      }
    }
  }
  .instagram-section {
    padding: 0 0 100px;
  }

  .map-box {
    .map {
      height: 320px;
    }
  }
  .questions-section {
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
    }
  }
  .article-section {
    padding: 60px 0 100px;
  }

  .ask-question {
    h2 .text_orange {
      display: inline-block;
    }
    &__img {
      display: none;
    }
    &__inf {
      max-width: 100%;
    }
  }

  .footer {
    .width-3 {
      width: 32%;
    }
    .copyright {
      margin-bottom: 42px;
    }
    &__col-logo {
      width: 100%;
      margin-bottom: 58px;
    }
    &__inf-contact {
      width: 24%;
    }
    &__col-catalog {
      width: 76%;
      padding-right: 20px;
    }
  }
  .footer-menu {
    width: 100%;
  }
  .cart {
    height: 58px;
    padding: 3px 12px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    &__ic {
      width: 20px;
      height: 20px;
      margin-right: 0;
      margin-bottom: 2px;
    }
  }
  .menu-mobile {
    width: calc(100% - 223px);
  }
  .menu-header{
    &__link {
      margin-right: 40px;
    }
  }
  .category {
    width: 100%;
    &__card  {
      .card {
        width: calc((100% - 60px) / 4);
      }
    }
  }
  .aside {
    display: none;
  }
  .menu-subcategory {
    display: block;
  }
  .body-fon {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  body {
    &.mobile-open {
      overflow: hidden;
      .menu-mobile-button {
        font-size: 0;
        padding: 3px 29px;
        .hamburger-mob {
          margin: 0;
        }
      }
      .menu-mobile-fon {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        opacity: 1;
        visibility: visible;
      }
      .cart {
        padding: 3px 14px;
      }
    }
  }
  .mob-none {
    display: none;
  }
  .menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    padding: 110px 0 5px;
    width: 320px;
    height: 100vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all .3s ease 0s;
    background-color: #ffffff;
    z-index: 100;
    &__scroll {
      overflow: auto;
    }
    &__title {
      display: block;
    }
    .vcard {
      margin: 0 auto 60px;
    }
    &__mail {
      display: block;
      text-align: center;
      font-family: "Open Sans",sans-serif;
      margin-bottom: 17px;
      font-size: 14px;
      width: 100%;
      color: #1A1A1A;
    }
    &.open {
      right: 0;
      padding: 110px 0 5px;
      flex-wrap: wrap;

      .logo {
        display: block;
        position: absolute;
        left: 20px;
        top: 13px;
      }
    }
    &__menu-category {
      display: block;
      margin-bottom: 30px;
      width: 100%;
    }
    &__title {
      font-weight: 700;
      font-size: 24px;
      color: #1A1A1A;
      text-align: center;
      position: relative;
      margin-bottom: 40px;
      width: 100%;
      &::before {
        content: "";
        width: 50px;
        height: 2px;
        background-color: #F2721B;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
  .header {
    &__top {
      background-color: transparent;
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
      .container {
        padding: 0;
      }
      .mail {
        display: none;
      }
    }
    &__top-title {
      display: block;
    }
  }
  header {
    &.fixed {
      .header {
        &__top {
          top: 0;
        }
      }
    }
    .mail {
      padding: 10px 0;
      font-size: 18px;
      color: #000000;
    }
  }
  .user-door {
    margin-right: 0;
    color: #000000;
    display: flex;
    align-items: center;
    height: 47px;
    padding: 10px 30px;
    font-size: 14px;
    background-color: #F4F4F4;
    box-shadow: inset 0px -1px 0px #dadada;
    margin-bottom: 30px;
    width: 100%;
    order: 0;
    .ic-user {
      display: none;
    }
  }
  .ic-user {
    top: 0;
  }
  .menu-header {
    width: 100%;
    &__li {
      width: 100%;
    }
    &__link {
      margin-right: 0;
      color: #000000;
      display: flex;
      align-items: center;
      height: 47px;
      padding: 10px 30px;
      font-size: 14px;
      background-color: #F4F4F4;
      box-shadow: inset 0px -1px 0px #dadada;
    }
  }
  .menu-mobile-button {
    background-color: #ECF5F8;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: #1A1A1A;
    font-size: 14px;
    font-weight: 500;
    height: 80px;
    border-radius: 0;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 3px 44px;
    z-index: 100;
    &.active {
      .hamburger-mob {
        transform: rotate(135deg);
        transition: all .3s ease 0s;
        &__line-top {
          transform: rotate(90deg);
          margin: auto;
          bottom: 0;
        }
        &__line-center {
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &__line-bottom {
          opacity: 0;
        }
      }
    }
    .hamburger-mob {
      margin-bottom: 8px;
      margin-right: 0;
    }
  }

  .hamburger-mob {
    position: relative;
    height: 18px;
    width: 22px;
    margin-right: 10px;
    transition: all .1s ease 0s;
    &__line-top, &__line-center, &__line-bottom {
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      background-color: #1A1A1A;
      border-radius: 22px;
    }
    &__line-top {
      top: 0;
    }
    &__line-center {
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &__line-bottom {
      bottom: 0;
    }
  }

  .header {
    &__bottom {
      padding: 0;
    }
    &__top {
      .header__flex {
        flex-direction: column;
      }
    }
  }
  .logo {
    margin-right: auto;
  }
  .wrap-catalog-search {
    display: none;
  }
  header {
    &.fixed {
      .header {
        &__bottom {
          padding-top: 0;
        }
      }
    }
    .vcard {
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  .catalog-menu {
    order: 2;
    &__button {
      width: 100%;
      border-radius: 0;
      &.open {
        +.catalog-menu__dropdown {
          z-index: 10;
          width: 100%;
        }
      }
    }
  }
  .search {
    margin-bottom: 20px;
    &__inp {
      border-radius: 0;
      border-left: 1px solid #B7B7B7;
      height: 40px;
      padding-left: 10px;
    }
  }

  .form-mob-text {
    max-width: 400px;
    width: 100%;
  }
  .mob-section {
    &__inf {
      width: 70%;
    }
  }
  .card-advantages {
    padding: 22px 15px 27px;
    width: calc((100% - 20px) / 2);
  }
  .cart {
    height: 80px;
    border-radius: 0;
    flex-direction: column;
    justify-content: center;
    padding: 3px 38px;
    z-index: 100;
    transition: 0s;
    &__ic {
      margin-right: 0;
    }
  }

}

@media screen and (max-width: 768px) {
  .banner-slider {
    width: 100%;
    margin-bottom: 15px;
  }
  .order-status {
    height: 185px;
    padding: 20px;
    width: calc((100% - 40px) / 2);
    margin: 0 10px 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
  .wap-order-status {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .wrap-order-inf {
    display: contents;
  }

  .order-inf {
    width: calc((100% - 40px) / 2);
    margin: 0 10px 20px;
    max-width: none;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 22px 10px;
  }
  .mob-section {
    padding-top: 45px;
    padding-bottom: 0;
    &__inf {
      width: 100%;
      margin-bottom: 80px;
    }
    &__text {
      max-width: 100%;
    }
  }
  .form-mob {
    .form-group {
      max-width: none;
      width: calc(100% - 154px);
    }
  }
  .mob-image {
    width: calc(100% + 40px);
    height: auto;
    position: relative;
    right: 0;
    bottom: 0;
    padding-top: 80%;
    margin: 0 -20px;

    &__one {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__two, &__three, &__four, &__five, &__six {
      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
      }
    }
    &__two {
      top: 0;
      left: 17%;
      width: 17%;
      padding-top: 20%;
    }
    &__three {
      bottom: 30%;
      left: 20%;
      width: 19%;
      padding-top: 18%;
    }
    &__four {
      bottom: -37px;
      left: 5%;
      z-index: 6;
      width: 26%;
      padding-top: 25%;
    }
    &__five {
      top: -52px;
      right: 26%;
      z-index: 2;
      width: 29%;
      padding-top: 26%;
    }
    &__six {
      display: block;
      width: 50%;
      padding-top: 42%;
      img {
        object-position: 80px;
      }
    }
  }
  .discounts {
    padding-bottom: 100px;
  }

  .catalogGo-section {
    h2 {
      &.fz48 {
        font-size: 41px;
      }
    }
  }
  .catalogGo {
    &__one {
      width: 27%;
      padding-top: 27%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__two {
      width: 24%;
      padding-top: 24%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__three {
      width: 16%;
      padding-top: 19%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__four {
      width: 48%;
      padding-top: 42%;
      bottom: -100px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 170px;
      }
    }
    &__five {
      display: none;
    }
  }
  .advantages-section {
    padding: 180px 0 78px;
  }
  .instagram-section {
    h2.line {
      padding-right: 160px;
    }
    .instagram-link {
      top: 10px;
    }
  }
  .instagram-link {
    font-size: 14px;
    line-height: 21px;
    padding-left: 33px;
    &:before {
      width: 21px;
      height: 21px;
    }
  }

  .article-section {
    padding: 100px 0;
  }
  .article-slider {
    gap: 30px;
  }
  .card-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &__img {
      width: 42%;
      border-radius: 5px 0 0 5px;
      padding-top: 210px;
    }
    &__body {
      width: 58%;
      padding: 20px 15px 50px;
    }
    &__link {
      left: 15px;
    }
  }

  .ask-question {
    h2 .text_orange {
      display: block;
    }
  }
  .footer {
    &__col-catalog {
      width: 100%;
      padding-right: 0;
      margin-bottom: 40px;
    }
    .width-3 {
      width: 31%;
    }
    &__inf-contact {
      width: 100%;
    }
    &__col-inf, &__col-contact {
      width: 50%;
    }
    &__body {
      padding-bottom: 20px;
    }
    &__bottom-studio {
      padding: 48px 0 16px;
    }
  }

  .category {
    &__card  {
      .card {
        width: calc((100% - 40px) / 3);
      }
    }
  }
}

@media screen and (max-width: 575px) {
  h2 {
    font-size: 24px;
  }
  h5 {
    font-size: 16px;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    &__img {
      position: relative;
      padding-top: 0;
      width: 45%;
      display: block;
      margin-bottom: 0;
    }
    &__body {
      padding: 20px;
      width: 55%;
    }
  }
  .header {
    &__bottom {
      padding: 0;
    }
  }


  .container {
    padding: 0 20px;
  }

  h2.line {
    padding-right: 110px;
    padding-left: 34px;
    &::before {
      width: 20px;
    }
  }
  .banner-card h2 {
    font-size: 36px
  }

  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }
  .owl-nav {
    top: -85px;
  }

  .fz48 {
    font-size: 36px;
  }
  .mob-section {
    &__subtitle {
      font-size: 18px;
    }
  }

  .catalogGo {
    &__one {
      img {
        object-position: -40px;
      }
    }
    &__two {
      img {
        object-position: -30px;
      }
    }
    &__three {
      img {
        object-position: 0;
      }
    }
    &__four {
      img {
        object-position: 60px;
      }
    }
  }
  .instagram-section {
    .instagram-link {
      top: 3px;
    }
  }

  .instagram-slider, .article-section {
    .owl-nav {
      top: 0;
      position: relative;
      margin-top: 30px;
    }
  }


  .article-section {
    .all-link {
      top: 3px;
    }
  }
  .article-slider {

    &.owl-carousel .owl-stage-outer {
      border-radius: 5px;
      box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    }
  }
  .card-article {
    box-shadow: none;
    &__img {
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
    &__body {
      width: 100%;
      padding: 15px 20px 75px;
    }
    &__link {
      left: 20px;
    }
  }
  .all-link {
    font-size: 14px;
  }

  .ask-question {
    &__form {
      .width-50 {
        width: 100%;
      }
    }
  }

  .footer  {
    .width-3 {
      width: 50%;
      margin-bottom: 40px;
      &:last-child {
        width: 100%;
      }
    }
    &__col-catalog {
      margin-bottom: 10px;
    }
    &__col-logo {
      margin-bottom: 40px;
    }
    .copyright {
      margin-bottom: 20px;
      opacity: 1;
    }
    &__bottom-studio {
        padding: 20px 0 40px;
      .text {
        margin-right: 20px;
        opacity: 1;
        font-size: 14px;
        margin-bottom: 20px;
        a {
          opacity: 0.6;
          font-size: 14px;
        }
      }
    }
    &__bottom-link {
      .link {
        margin-right: 20px;
      }
    }
  }

  .category {
    &__card  {
      .card {
        width: calc((100% - 20px) / 2);
        &__img {
          width: 100%;
        }
        &__body {
          width: 100%;
          padding: 0 15px 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .card  {
    h5 {
      height: auto;
    }
  }
  .menu-mobile-button, .cart, .logo {
    z-index: 102;
  }
  .menu-mobile {
    transition: 0s;
    &.open {
      width: 100%;
    }
  }


  .order-status {
    width: 100%;
    margin: 0 0 30px;
  }
  .order-inf {
    width: 100%;
    margin: 0 0 20px;
  }
  .wap-order-status {
    margin: 0;
  }
  .banner-slider {
    margin-bottom: 30px;
  }
  .banner-card {
    padding: 15px 20px 40px;
    height: 187px;
    &__body {
      max-width: 210px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      line-height: 120%;
    }
    &__text {
      margin-bottom: 10px;
    }
  }
  .banner-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  .mob-section {
    padding-top: 40px;
  }
  .catalogGo{
    &__four {
      bottom: -50px;
    }
    &__one {
      display: none;
    }
  }
  .catalogGo-section {
    padding: 57px 0;
    h2 {
      &.fz48 {
        font-size: 26px;
      }
    }
  }
  .advantages-section {
    padding: 100px 0;
  }
  .questions-box {
    &__title {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 460px) {
  .card {
    &__img {
      padding-top: 230px;
      width: 100%;
      margin-bottom: 20px;
    }
    &__body {
      padding-top: 0;
      width: 100%;
    }
  }

  .order-status {
    width: 100%;
    margin: 0 0 20px;
  }
  .order-inf {
    width: 100%;
    margin: 0 0 15px;
  }
  .banner-slider {
    margin-bottom: 20px;
  }
  .owl-nav {
    top: 0;
    position: relative;
    justify-content: center;
    padding-right: 20px;
    margin-top: 30px;
  }

  h2.line {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    margin-bottom: 40px;
    &:before {
      width: 50px;
      bottom: -9px;
      top: auto;
      right: 0;
    }
  }
  .mob-section {
    padding-top: 30px;
    &__inf {
      h2 {
        text-align: center;
      }
    }
    &__text {
      text-align: center;
      margin-bottom: 25px;
    }
    &__subtitle {
      text-align: center;
      margin-bottom: 12px;
    }
  }
  .mob-image {
    &__four {
      bottom: -9%;
    }
  }
  .store-box {
    text-align: center;
    margin-bottom: 0;
    &__brand {
      margin-right: 0;
    }
  }
  .form-mob {
    .btn {
      width: 100%;
    }
    .form-group {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .form-mob-text {
    text-align: center;
  }
  .discounts {
    padding-bottom: 50px;
  }
  .card-advantages {
    width: 100%;
    padding: 0;
  }
  .advantages-section {
    padding: 55px 0 100px;
  }

  .instagram-slider {
    text-align: left;
  }
  .instagram-section {
    text-align: center;
    padding: 0 0 90px;
    h2.line {
      padding-right: 0;
      margin-bottom: 30px;
    }
    .instagram-link {
      top: 0;
      position: relative;
      margin-bottom: 22px;
    }
  }

  .map-box {
    &__title {
      font-size: 18px;
    }
  }

  .article-slider {
    text-align: left;
  }
  .article-section {
    text-align: center;
    .all-link {
      top: 0;
      position: relative;
    }
  }
  .article-section {
    padding: 90px 0 80px;
  }

  .ask-question {
    &__text {
      width: 100%;
    }
  }

  .footer {
    &__col-inf {
      margin-bottom: 40px;
    }
    &__col-inf, &__col-contact {
      width: 100%;
    }
    &__bottom-flex {
      padding-top: 20px;
    }
    .width-3 {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .category {
    &__card {
      .card {
        width: 100%;
        &__img {
          width: 100px;
          padding-top: 0;
          margin: 0;
          border-radius: 6px;
        }
        &__body {
          padding: 10px;
          width: calc(100% - 100px);
          border-left: 1px solid #D5D5D5;
        }
        .card-tag {
          &__discounts, &__new-product {
            font-size: 9px;
            height: 21px;
          }
          &__discounts {
            width: 46px;
          }
        }
      }
    }
  }
  .menu-subcategory {
    &__selected {
      justify-content: flex-start;
      text-align: left;
      padding: 20px 44px 20px 20px;
      position: relative;
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 20px;
      }
    }
  }

  .cart {
    padding: 3px 14px;
  }
  .menu-mobile-button {
    padding: 3px 20px;
  }
}